/* Take the time to choose proper colour scheme and to style the app properly */

:root {
  --primary-color: #a5c9ca;
  --secondary-color: #395b64;
  --background-color: #e7f6f2;
  --text-color: #2c3333;
  --text-color-light: #e9eaea;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

.pageTitle {
  margin: 40px;
  font-size: 50px;
  font-weight: 700px;
  text-decoration: underline;
  text-shadow: 1px 1px 2px var(--text-color-light);
  text-decoration-color: var(--text-color);
}

.pokemonButton {
  width: 150px;
  margin: 7px;
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  color: var(--text-color-light);
  border-radius: 5px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

.pokemon-list {
  list-style-type: none;
}
