:root {
    --primary-color: #add8e6;
    --secondary-color: ;
    --text-color: #003200;
    --text-color-light: #325A32;
  }


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--primary-color);
  }

.pageTitle {
  margin: 40px;
  font-size: 50px;
  font-weight: 700px;
  text-decoration: underline;
  text-shadow: 1px 1px 2px var(--text-color-light);
  text-decoration-color: var(--text-color-light);
}

.pokemonButton {
  width: 150px;
  margin: 7px;
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  color: white;
  border-radius: 5px;
  background-color: var(--text-color-light);
  cursor: pointer;
}

.pokemon-list {
  list-style-type: none;
}
